h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Raleway"
}

.intro {
  background: url(../img/introbackground.jpg) no-repeat bottom center scroll;
  background-color: black;
  background-size: cover;
}

.navbar-custom {
  background-color: #77D9C4
}
